@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme variables */
  --background: #ffffff;
  --text: #000000;
  --primary: #1a1a1a;
}

[data-theme='dark'] {
  --background: #1a1a1a;
  --text: #ffffff;
  --primary: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--text);
} 